@import url(./variables.css);
@import url(./utils.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
}

.button {
    cursor: pointer;
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: var(--radius);
    letter-spacing: var(--letter-spacing);
    box-shadow: 0 4px 4px var(--clr-slate-light);
}

.button:active {
    transform: translate(0px, 4px);
    box-shadow: none;
}

.button--secondary {
    background-color: var(--clr-secondary);
    color: var(--clr-base-light);
}

.button--slate-dark {
    background-color: var(--clr-slate-dark);
    color: var(--clr-base-light);
}

/* GLOBAL STYLING */

section {
    padding: 0 var(--section-padding-inline);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: var(--heading-padding-block) var(--section-padding-inline);
}

.navbar__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar__logo {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
}

.navbar__navigation-container, 
.navbar-theme {
    display: none;
}

.navbar__mobile-hamburger {
    cursor: pointer;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.hero__container {
    display: flex;
    flex-direction: column-reverse;
}

.hero__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--content-gap);
}

.hero__title {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--title-size);
}

.hero__title-specific {
    font-family: "Raleway", sans-serif;
    color: var(--clr-primary);
}

.hero__description {
    text-align: center;
    width: 25ch;
}

.hero__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--content-gap);
}

.hero__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image {
    height: clamp(6.25rem, 38.241vw + -1.398rem, 31.25rem);
}

/* ABOUT SECTION */
.about__title {
    text-transform: uppercase;
    /* font-size: var(--font-size--title); */
}

.about__skills-tag-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.about__skill {
    background-color: var(--clr-secondary);
    border-radius: var(--radius);
    padding: 0.4rem;
}

.about__skills-title {
    text-transform: uppercase;
}

.about__skill-text {
    text-transform: uppercase;
    color: var(--clr-base-light);
    font-weight: 600;
}

.about__accolades-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--content-gap);
}

.about__accolade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-slate-dark);
    color: var(--clr-base-light);
    font-family: "Raleway", sans-serif;
    border-radius: 5px;
    padding: var(--padding-s);
    text-align: center;
    height: 15rem;
}

.about__accolade-subtitle {
    /* text-align: center; */

}

.about__accolade-title {
    font-size: 48px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    /* text-align: center; */
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .navbar__mobile-container {
        display: none;
    }
    
    .navbar__navigation-container,
    .navbar-theme {
        display: flex;
    }

    .navbar__container {
        max-width: 2000px;
    }


    .navbar__links-container {
        display: flex;
        gap: 20px;
    }

    .navbar__link {
        list-style: none;
        text-transform: uppercase;
        cursor: pointer;
    }

    .navbar__link:hover::after{
        display: flex;
        justify-content: center;
        flex-direction: column;
        content: '';
        background-color: var(--clr-secondary);
        width: 100%;
        height: 5px;
        border-radius: var(--radius);
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

    }

    .hero__content-container {
        /* gap: var(--content-gap); */
        align-items: flex-start;
    }

    .hero__subtitle, 
    .hero__title {
        width: 100%;
        text-align: left;
    }

    .hero__buttons-container {
        display: flex;
        flex-direction: row;
    
    }

    .hero__description {
        width: 45ch;
        text-align: left;
    }
}