@import url(./variables.css);

/* GRID UTILITY CLASSES */
.grid-1, .grid-2, .grid-3 {
    display: grid;
}

.grid-2 {
    grid-template-columns: var(--grid-2);
    grid-gap: 3rem;
}

.grid-3 {
    grid-template-columns: var(--grid-3);
}