:root {
    /* COLORS */
    --clr-primary: #8338EC;
    --clr-secondary: #D96293;
    --clr-slate-dark: #3B3B3B;
    --clr-slate-light: #8B8B8B;
    --clr-base-light: #ffffff;
    --clr-base-dark: #000000;

    /* FONTS */
    --title-size: clamp(2rem, 6.119vw + 0.776rem, 6rem);
    --subtitle-size: clamp(2rem, 6.119vw + 0.776rem, 6rem);
    
    /* SPACING */
    --section-padding-inline: clamp(2rem, 12.237vw + -0.447rem, 20rem);
    --section-padding-block: 2rem;
    --heading-padding-block: 3rem;
    
    --letter-spacing: 0.125rem;
    --content-gap: 0.8rem;
    --grip-gap: ; 
    --container-gap: 15px;

    /* BORDERS */
    --radius: 0.3125rem;

    /* GRIDS */
    --grid-1: repeat(1, 1fr);
    --grid-2: repeat(2, 1fr);
    --grid-3: repeat(3, 1fr);

    /* HEIGHTS */
    --header-height: 5vh;

}